Source: godwin
Maintainer: n@zgul <n@zgul.me>
Section: Development
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9)

Package: godwin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmagic1, openssl, zapata-base (>=0.9), zapata-json (>=0.9), libarmadillo-dev
Description: godwin
 Provides godwin
